<div>
    <h2 translate="olisParamsAndScriptsApp.parameterDependency.home.title">ParameterDependencys</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="parameterDependency.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="olisParamsAndScriptsApp.parameterDependency.home.createLabel">Create a new ParameterDependency</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a ParameterDependency</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="olisParamsAndScriptsApp.parameterDependency.type">Type</th>
                    <th translate="olisParamsAndScriptsApp.parameterDependency.checkOperation">CheckOperation</th>
                    <th translate="olisParamsAndScriptsApp.parameterDependency.script">Script</th>
                    <th translate="olisParamsAndScriptsApp.parameterDependency.promptFather">promptFather</th>
                    <th translate="olisParamsAndScriptsApp.parameterDependency.promptChild">promptChild</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="parameterDependency in parameterDependencys track by parameterDependency.id">
                    <td><a ui-sref="parameterDependency.detail({id:parameterDependency.id})">{{parameterDependency.id}}</a></td>
                    <td translate="{{'olisParamsAndScriptsApp.DependencyType.' + parameterDependency.type}}">{{parameterDependency.type}}</td>
                    <td>{{parameterDependency.checkOperation}}</td>
                    <td>{{parameterDependency.script}}</td>
                    <td>
                        <a ui-sref="prompt.detail({id:parameterDependency.promptFather.id})">{{parameterDependency.promptFather.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="prompt.detail({id:parameterDependency.promptChild.id})">{{parameterDependency.promptChild.name}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="parameterDependency.detail({id:parameterDependency.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="parameterDependency.edit({id:parameterDependency.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="parameterDependency.delete({id:parameterDependency.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
