<div>
    <h2 translate="olisParamsAndScriptsApp.authorizationLink.home.title">AuthorizationLinks</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="authorizationLink.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="olisParamsAndScriptsApp.authorizationLink.home.createLabel">Create a new AuthorizationLink</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a AuthorizationLink</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="olisParamsAndScriptsApp.authorizationLink.status">Status</th>
                    <th translate="olisParamsAndScriptsApp.authorizationLink.validityStartDate">ValidityStartDate</th>
                    <th translate="olisParamsAndScriptsApp.authorizationLink.validityEndDate">ValidityEndDate</th>
                    <th translate="olisParamsAndScriptsApp.authorizationLink.creationDate">CreationDate</th>
                    <th translate="olisParamsAndScriptsApp.authorizationLink.creatorUserId">CreatorUserId</th>
                    <th translate="olisParamsAndScriptsApp.authorizationLink.modificationDate">ModificationDate</th>
                    <th translate="olisParamsAndScriptsApp.authorizationLink.updatorUserId">UpdatorUserId</th>
                    <th translate="olisParamsAndScriptsApp.authorizationLink.agacAuthorization">agacAuthorization</th>
                    <th translate="olisParamsAndScriptsApp.authorizationLink.authorizationSet">authorizationSet</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="authorizationLink in authorizationLinks track by authorizationLink.id">
                    <td><a ui-sref="authorizationLink.detail({id:authorizationLink.id})">{{authorizationLink.id}}</a></td>
                    <td>{{authorizationLink.status}}</td>
                        <td>{{authorizationLink.validityStartDate | date:'mediumDate'}}</td>
                        <td>{{authorizationLink.validityEndDate | date:'mediumDate'}}</td>
                        <td>{{authorizationLink.creationDate | date:'mediumDate'}}</td>
                    <td>{{authorizationLink.creatorUserId}}</td>
                        <td>{{authorizationLink.modificationDate | date:'mediumDate'}}</td>
                    <td>{{authorizationLink.updatorUserId}}</td>
                    <td>
                        <a ui-sref="aGACAuthorization.detail({id:authorizationLink.agacAuthorization.id})">{{authorizationLink.agacAuthorization.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="authorizationSet.detail({id:authorizationLink.authorizationSet.id})">{{authorizationLink.authorizationSet.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="authorizationLink.detail({id:authorizationLink.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="authorizationLink.edit({id:authorizationLink.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="authorizationLink.delete({id:authorizationLink.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
