
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myCheckScriptLabel" translate="olisParamsAndScriptsApp.checkScript.home.createOrEditLabel">Create or edit a CheckScript</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="checkScript.id" readonly />
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.checkScript.script" for="field_script">Script</label>
            <textarea class="form-control" name="script" id="field_script" ng-model="checkScript.script"></textarea>
        </div>

        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.checkScript.prompt" for="field_prompt">prompt</label>
            <!--select class="form-control" id="field_prompt" name="prompt" ng-model="checkScript.prompt" ng-options="prompt as prompt.id for prompt in prompts track by prompt.id">
                <option value=""></option>
            </select-->
            <ui-select ng-model="checkScript.prompt" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;">
		    <ui-select-match placeholder="Select a prompt in the list or search by his name or id">{{$select.selected.name}}</ui-select-match>
		    <ui-select-choices repeat="prompt in prompts | propsFilter: {name: $select.search, id: $select.search} | orderBy: 'name'">
		      <div ng-bind-html="prompt.name | highlight: $select.search"></div>
		      <small>
		        id: <span ng-bind-html="''+prompt.id | highlight: $select.search"></span>
		      </small>
		    </ui-select-choices>
		  </ui-select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
