<div>
    <h2 translate="olisParamsAndScriptsApp.graphicalComponentLink.home.title">GraphicalComponentLinks</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="graphicalComponentLink.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="olisParamsAndScriptsApp.graphicalComponentLink.home.createLabel">Create a new GraphicalComponentLink</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a GraphicalComponentLink</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="olisParamsAndScriptsApp.graphicalComponentLink.mode">Mode</th>
                    <th translate="olisParamsAndScriptsApp.graphicalComponentLink.prompt">prompt</th>
                    <th translate="olisParamsAndScriptsApp.graphicalComponentLink.graphicalComponent">graphicalComponent</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="graphicalComponentLink in graphicalComponentLinks track by graphicalComponentLink.id">
                    <td><a ui-sref="graphicalComponentLink.detail({id:graphicalComponentLink.id})">{{graphicalComponentLink.id}}</a></td>
                    <td translate="{{'olisParamsAndScriptsApp.Mode.' + graphicalComponentLink.mode}}">{{graphicalComponentLink.mode}}</td>
                    <td>
                        <a ui-sref="prompt.detail({id:graphicalComponentLink.prompt.id})">{{graphicalComponentLink.prompt.name}}</a>
                    </td>
                    <td>
                        <a ui-sref="graphicalComponent.detail({id:graphicalComponentLink.graphicalComponent.id})">{{graphicalComponentLink.graphicalComponent.description}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="graphicalComponentLink.detail({id:graphicalComponentLink.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="graphicalComponentLink.edit({id:graphicalComponentLink.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="graphicalComponentLink.delete({id:graphicalComponentLink.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
