
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myProfileLinkLabel" translate="olisParamsAndScriptsApp.profileLink.home.createOrEditLabel">Create or edit a ProfileLink</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="profileLink.id" readonly />
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.profileLink.status" for="field_status">Status</label>
            <input type="number" class="form-control" name="status" id="field_status"
                    ng-model="profileLink.status"
                     />
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.profileLink.validityStartDate" for="field_validityStartDate">ValidityStartDate</label>
            <input type="date" class="form-control" name="validityStartDate" id="field_validityStartDate"
                    ng-model="profileLink.validityStartDate"
                     />
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.profileLink.validityEndDate" for="field_validityEndDate">ValidityEndDate</label>
            <input type="date" class="form-control" name="validityEndDate" id="field_validityEndDate"
                    ng-model="profileLink.validityEndDate"
                     />
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.profileLink.creationDate" for="field_creationDate">CreationDate</label>
            <input type="date" class="form-control" name="creationDate" id="field_creationDate"
                    ng-model="profileLink.creationDate"
                     />
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.profileLink.creatorUserId" for="field_creatorUserId">CreatorUserId</label>
            <input type="number" class="form-control" name="creatorUserId" id="field_creatorUserId"
                    ng-model="profileLink.creatorUserId"
                     />
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.profileLink.modificationDate" for="field_modificationDate">ModificationDate</label>
            <input type="date" class="form-control" name="modificationDate" id="field_modificationDate"
                    ng-model="profileLink.modificationDate"
                     />
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.profileLink.updatorUserId" for="field_updatorUserId">UpdatorUserId</label>
            <input type="number" class="form-control" name="updatorUserId" id="field_updatorUserId"
                    ng-model="profileLink.updatorUserId"
                     />
        </div>

        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.profileLink.agacUser" for="field_agacUser">agacUser</label>
            <select class="form-control" id="field_agacUser" name="agacUser" ng-model="profileLink.agacUser" ng-options="aGACUser as aGACUser.id for aGACUser in agacusers track by aGACUser.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
