<div>
    <h2 translate="olisParamsAndScriptsApp.profileLink.home.title">ProfileLinks</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="profileLink.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="olisParamsAndScriptsApp.profileLink.home.createLabel">Create a new ProfileLink</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a ProfileLink</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="olisParamsAndScriptsApp.profileLink.status">Status</th>
                    <th translate="olisParamsAndScriptsApp.profileLink.validityStartDate">ValidityStartDate</th>
                    <th translate="olisParamsAndScriptsApp.profileLink.validityEndDate">ValidityEndDate</th>
                    <th translate="olisParamsAndScriptsApp.profileLink.creationDate">CreationDate</th>
                    <th translate="olisParamsAndScriptsApp.profileLink.creatorUserId">CreatorUserId</th>
                    <th translate="olisParamsAndScriptsApp.profileLink.modificationDate">ModificationDate</th>
                    <th translate="olisParamsAndScriptsApp.profileLink.updatorUserId">UpdatorUserId</th>
                    <th translate="olisParamsAndScriptsApp.profileLink.agacUser">agacUser</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="profileLink in profileLinks track by profileLink.id">
                    <td><a ui-sref="profileLink.detail({id:profileLink.id})">{{profileLink.id}}</a></td>
                    <td>{{profileLink.status}}</td>
                        <td>{{profileLink.validityStartDate | date:'mediumDate'}}</td>
                        <td>{{profileLink.validityEndDate | date:'mediumDate'}}</td>
                        <td>{{profileLink.creationDate | date:'mediumDate'}}</td>
                    <td>{{profileLink.creatorUserId}}</td>
                        <td>{{profileLink.modificationDate | date:'mediumDate'}}</td>
                    <td>{{profileLink.updatorUserId}}</td>
                    <td>
                        <a ui-sref="aGACUser.detail({id:profileLink.agacUser.id})">{{profileLink.agacUser.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="profileLink.detail({id:profileLink.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="profileLink.edit({id:profileLink.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="profileLink.delete({id:profileLink.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
