<div>
    <h2 translate="olisParamsAndScriptsApp.aGACUserLink.home.title">AGACUserLinks</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="aGACUserLink.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="olisParamsAndScriptsApp.aGACUserLink.home.createLabel">Create a new AGACUserLink</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a AGACUserLink</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="olisParamsAndScriptsApp.aGACUserLink.status">Status</th>
                    <th translate="olisParamsAndScriptsApp.aGACUserLink.validityStartDate">ValidityStartDate</th>
                    <th translate="olisParamsAndScriptsApp.aGACUserLink.validityEndDate">ValidityEndDate</th>
                    <th translate="olisParamsAndScriptsApp.aGACUserLink.creationDate">CreationDate</th>
                    <th translate="olisParamsAndScriptsApp.aGACUserLink.creatorUserId">CreatorUserId</th>
                    <th translate="olisParamsAndScriptsApp.aGACUserLink.modificationDate">ModificationDate</th>
                    <th translate="olisParamsAndScriptsApp.aGACUserLink.updatorUserId">UpdatorUserId</th>
                    <th translate="olisParamsAndScriptsApp.aGACUserLink.agacOrganization">agacOrganization</th>
                    <th translate="olisParamsAndScriptsApp.aGACUserLink.agacUser">agacUser</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aGACUserLink in aGACUserLinks track by aGACUserLink.id">
                    <td><a ui-sref="aGACUserLink.detail({id:aGACUserLink.id})">{{aGACUserLink.id}}</a></td>
                    <td>{{aGACUserLink.status}}</td>
                        <td>{{aGACUserLink.validityStartDate | date:'mediumDate'}}</td>
                        <td>{{aGACUserLink.validityEndDate | date:'mediumDate'}}</td>
                        <td>{{aGACUserLink.creationDate | date:'mediumDate'}}</td>
                    <td>{{aGACUserLink.creatorUserId}}</td>
                        <td>{{aGACUserLink.modificationDate | date:'mediumDate'}}</td>
                    <td>{{aGACUserLink.updatorUserId}}</td>
                    <td>
                        <a ui-sref="aGACOrganization.detail({id:aGACUserLink.agacOrganization.id})">{{aGACUserLink.agacOrganization.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="aGACUser.detail({id:aGACUserLink.agacUser.id})">{{aGACUserLink.agacUser.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="aGACUserLink.detail({id:aGACUserLink.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="aGACUserLink.edit({id:aGACUserLink.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="aGACUserLink.delete({id:aGACUserLink.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
