<div>
    <h2 translate="olisParamsAndScriptsApp.prompt.home.title">Prompts</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="prompt.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="olisParamsAndScriptsApp.prompt.home.createLabel">Create a new Prompt</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a Prompt</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="olisParamsAndScriptsApp.prompt.name">Name</th>
                    <th translate="olisParamsAndScriptsApp.prompt.systemName">SystemName</th>
                    <th translate="olisParamsAndScriptsApp.prompt.type">Type</th>
                    <th translate="olisParamsAndScriptsApp.prompt.transformationScript">TransformationScript</th>
                    <th translate="olisParamsAndScriptsApp.prompt.visibleName">VisibleName</th>
                    <th translate="olisParamsAndScriptsApp.prompt.defaultValueScript">DefaultValueScript</th>
                    <th translate="olisParamsAndScriptsApp.prompt.order">Order</th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="loadPage(page + 1)" infinite-scroll-disabled="links['last'] == page">
                <tr ng-repeat="prompt in prompts track by prompt.id">                
                    <td><a ui-sref="prompt.detail({id:prompt.id})">{{prompt.id}}</a></td>
                    <td>{{prompt.name}}</td>
                    <td>{{prompt.systemName}}</td>
                    <td translate="{{'olisParamsAndScriptsApp.PromptType.' + prompt.type}}">{{prompt.type}}</td>
                    <td>{{prompt.transformationScript}}</td>
                    <td>{{prompt.visibleName}}</td>
                    <td>{{prompt.defaultValueScript}}</td>
                    <td>{{prompt.order}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="prompt.detail({id:prompt.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="prompt.edit({id:prompt.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="prompt.delete({id:prompt.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
