
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myPromptLabel" translate="olisParamsAndScriptsApp.prompt.home.createOrEditLabel">Create or edit a Prompt</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="prompt.id" readonly />
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.prompt.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="prompt.name"
                    required ng-maxlength="50" />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.name.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.prompt.systemName" for="field_systemName">SystemName</label>
            <input type="text" class="form-control" name="systemName" id="field_systemName"
                    ng-model="prompt.systemName"
                    required ng-maxlength="255" />
            <div ng-show="editForm.systemName.$invalid">
                <p class="help-block"
                    ng-show="editForm.systemName.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.systemName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.prompt.type" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="prompt.type" id="field_type" required>
                <option value="STR" translate="olisParamsAndScriptsApp.PromptType.STR">STR</option>
                <option value="INT" translate="olisParamsAndScriptsApp.PromptType.INT">INT</option>
            </select>
            <div ng-show="editForm.type.$invalid">
                <p class="help-block"
                    ng-show="editForm.type.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.prompt.transformationScript" for="field_transformationScript">TransformationScript</label>
            <textarea class="form-control" name="transformationScript" id="field_transformationScript" ng-model="prompt.transformationScript"></textarea>
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.prompt.visibleName" for="field_visibleName">VisibleName</label>
            <input type="text" class="form-control" name="visibleName" id="field_visibleName"
                    ng-model="prompt.visibleName"
                    ng-maxlength="50" />
            <div ng-show="editForm.visibleName.$invalid">
                <p class="help-block"
                    ng-show="editForm.visibleName.$error.maxlength" translate="entity.validation.maxlength" translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.prompt.defaultValueScript" for="field_defaultValueScript">DefaultValueScript</label>
            <textarea class="form-control" name="defaultValueScript" id="field_defaultValueScript" ng-model="prompt.defaultValueScript"></textarea>
        </div>
        <div class="form-group">
            <label translate="olisParamsAndScriptsApp.prompt.order" for="field_order">Order</label>
            <input type="number" class="form-control" name="order" id="field_order"
                    ng-model="prompt.order"
                    required />
            <div ng-show="editForm.order.$invalid">
                <p class="help-block"
                    ng-show="editForm.order.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
                <p class="help-block"
                    ng-show="editForm.order.$error.number" translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
