<div>
    <h2 translate="olisParamsAndScriptsApp.globalParameters.home.title">GlobalParameterss</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="globalParameters.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="olisParamsAndScriptsApp.globalParameters.home.createLabel">Create a new GlobalParameters</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a GlobalParameters</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="olisParamsAndScriptsApp.globalParameters.name">Name</th>
                    <th translate="olisParamsAndScriptsApp.globalParameters.technicalName">TechnicalName</th>
                    <th translate="olisParamsAndScriptsApp.globalParameters.type">Type</th>
                    <th translate="olisParamsAndScriptsApp.globalParameters.script">Script</th>
                    <th translate="olisParamsAndScriptsApp.globalParameters.ttl">Ttl</th>
                    <th translate="olisParamsAndScriptsApp.globalParameters.defaultValue">DefaultValue</th>
                    <th translate="olisParamsAndScriptsApp.globalParameters.order">Order</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="globalParameters in globalParameterss track by globalParameters.id">
                    <td><a ui-sref="globalParameters.detail({id:globalParameters.id})">{{globalParameters.id}}</a></td>
                    <td>{{globalParameters.name}}</td>
                    <td>{{globalParameters.technicalName}}</td>
                    <td>{{globalParameters.type}}</td>
                    <td>{{globalParameters.script}}</td>
                    <td>{{globalParameters.ttl}}</td>
                    <td>{{globalParameters.defaultValue}}</td>
                    <td>{{globalParameters.order}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="globalParameters.detail({id:globalParameters.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="globalParameters.edit({id:globalParameters.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="globalParameters.delete({id:globalParameters.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
