<div>
    <h2 translate="olisParamsAndScriptsApp.graphicalComponentParam.home.title">GraphicalComponentParams</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="graphicalComponentParam.new">
                    <span class="glyphicon glyphicon-flash"></span> <span translate="olisParamsAndScriptsApp.graphicalComponentParam.home.createLabel">Create a new GraphicalComponentParam</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a GraphicalComponentParam</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th translate="global.field.id">ID</th>
                    <th translate="olisParamsAndScriptsApp.graphicalComponentParam.name">Name</th>
                    <th translate="olisParamsAndScriptsApp.graphicalComponentParam.value">Value</th>
                    <th translate="olisParamsAndScriptsApp.graphicalComponentParam.mode">Mode</th>
                    <th translate="olisParamsAndScriptsApp.graphicalComponentParam.prompt">prompt</th>
                    <th translate="olisParamsAndScriptsApp.graphicalComponentParam.graphicalComponent">graphicalComponent</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="graphicalComponentParam in graphicalComponentParams track by graphicalComponentParam.id">
                    <td><a ui-sref="graphicalComponentParam.detail({id:graphicalComponentParam.id})">{{graphicalComponentParam.id}}</a></td>
                    <td>{{graphicalComponentParam.name}}</td>
                    <td>{{graphicalComponentParam.value}}</td>
                    <td translate="{{'olisParamsAndScriptsApp.Mode.' + graphicalComponentParam.mode}}">{{graphicalComponentParam.mode}}</td>
                    <td>
                        <a ui-sref="prompt.detail({id:graphicalComponentParam.prompt.id})">{{graphicalComponentParam.prompt.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="graphicalComponent.detail({id:graphicalComponentParam.graphicalComponent.id})">{{graphicalComponentParam.graphicalComponent.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="graphicalComponentParam.detail({id:graphicalComponentParam.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="graphicalComponentParam.edit({id:graphicalComponentParam.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="graphicalComponentParam.delete({id:graphicalComponentParam.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
